In [1]:
import os
import pandas as pd

In [3]:
df = pd.read_csv("../data_given/CarPrice.csv")

In [4]:
df.columns

Index(['Unnamed: 0', 'Present_Price', 'Kms_Driven', 'Owner', 'no_year',
       'Fuel_Type_Diesel', 'Fuel_Type_Petrol', 'Seller_Type_Individual',
       'Transmission_Manual', 'Selling_Price'],
      dtype='object')

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,301.0,150.000000,87.035433,0.00,75.0,150.0,225.0,300.0
Present_Price,301.0,7.628472,8.644115,0.32,1.2,6.4,9.9,92.6
Kms_Driven,301.0,36947.205980,38886.883882,500.00,15000.0,32000.0,48767.0,500000.0
Owner,301.0,0.043189,0.247915,0.00,0.0,0.0,0.0,3.0
no_year,301.0,6.372093,2.891554,2.00,4.0,6.0,8.0,17.0
Fuel_Type_Diesel,301.0,0.199336,0.400166,0.00,0.0,0.0,0.0,1.0
Fuel_Type_Petrol,301.0,0.794020,0.405089,0.00,1.0,1.0,1.0,1.0
Seller_Type_Individual,301.0,0.352159,0.478439,0.00,0.0,0.0,1.0,1.0
Transmission_Manual,301.0,0.867110,0.340021,0.00,1.0,1.0,1.0,1.0
Selling_Price,301.0,4.661296,5.082812,0.10,0.9,3.6,6.0,35.0

In [6]:
overview = df.describe()

In [7]:
overview.loc[["min", "max"]].to_json("schema_in.json")